<div class="row">
    <div class="col-3">
        <!-- <label for="">Email :</label> <br> -->
        <input type="text" [field]="loginForm.email"><br><br>
        <!-- <div>
            @if (loginForm.email().invalid()) {
                <div class="tex-danger">Email is not valid</div>
            }
        </div> -->
        @for(item of loginForm.email().errors();track $index){
            <div class="text-danger">{{item.message}}</div>
        } 
    </div>
    <div class="col-3">
        <!-- <label for="">Password :</label> -->
        <input type="text" [field]="loginForm.password"><br><br>
    </div>
</div>
<div class="row">
    <div class="col-3">
        {{ loginForm().value() | json }}
    </div>
</div>