<div class="container mt-0.5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Reactive Form Registration</h5>
                </div>

                <div class="card-body">
                    <form [formGroup]="userForm" class="p-2">
                        <div class="mb-0.5">
                            <label for="name" class="form-label">Name</label>
                            <input minlength="5" formControlName="name" type="text" class="form-control" id="name"
                                placeholder="Enter name">
                                @if (userForm.controls['name'].touched || userForm.controls['name'].dirty) {
                            <div class="text-danger">
                                @if (userForm.controls['name'].errors?.['required']) {
                                <span>This is Required</span>
                                } @else if(userForm.controls['name'].errors?.['minlength']) {
                                <span>Min 5 char is needed</span>
                                }
                            </div>
                            }
                        </div>

                        <div class="mb-0.5">
                            <label for="username" minlength="5" class="form-label">Username</label>
                            <input formControlName="username" type="text" class="form-control" id="username"
                                placeholder="Enter username">
                        </div>

                        <div class="mb-0.5">
                            <label for="email" class="form-label">Email</label>
                            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>

                        <div class="mb-0.5">
                            <label for="password" class="form-label">Password</label>
                            <input formControlName="password" type="password" class="form-control" id="password"
                                placeholder="Enter password">
                        </div>
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary w-100">Submit</button>
                            <button type="reset" class="btn btn-secondary w-100">Reset</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>