<div class="container mt-0.5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">User Registration</h5>
                </div>

                <div class="card-body">
                    <form #formData=ngForm class="p-2">

                        <div class="mb-0.5">
                            <label for="id" class="form-label">ID</label>
                            <input name="id" [(ngModel)]="userObj.id" type="number" class="form-control" id="id"
                                placeholder="Enter ID">
                        </div>

                        <div class="mb-0.5">
                            <label for="name" class="form-label">Name</label>
                            <input minlength="5" name="name" #name='ngModel' required [(ngModel)]="userObj.name" type="text"
                                class="form-control" id="name" placeholder="Enter name">
                            @if (name.touched || name.dirty) {
                            <div class="text-danger">
                                @if (name.errors?.['required']) {
                                <span>This is Required</span>
                                } @else if(name.errors?.['minlength']) {
                                <span>Min 5 char is needed</span>
                                }
                            </div>
                            }
                        </div>

                        <div class="mb-0.5">
                            <label for="username" minlength="5" class="form-label">Username</label>
                            <input name="username" [(ngModel)]="userObj.username" type="text" class="form-control"
                                id="username" placeholder="Enter username">
                        </div>

                        <div class="mb-0.5">
                            <label for="email" class="form-label">Email</label>
                            <input name="email" [(ngModel)]="userObj.email" type="email" class="form-control" id="email"
                                placeholder="Enter email">
                        </div>

                        <div class="mb-0.5">
                            <label for="password" class="form-label">Password</label>
                            <input name="password" [(ngModel)]="userObj.password" type="password" class="form-control"
                                id="password" placeholder="Enter password">
                        </div>

                        <div class="mb-0.5">
                            <label for="city" class="form-label">City</label>
                            <input name="city" [(ngModel)]="userObj.city" type="text" class="form-control" id="city"
                                placeholder="Enter city">
                        </div>

                        <div class="mb-0.5">
                            <label for="state" class="form-label">State</label>
                            <input name="state" [(ngModel)]="userObj.state" type="text" class="form-control" id="state"
                                placeholder="Enter state">
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" [disabled]="formData.invalid" class="btn btn-primary w-100">Submit</button>
                            <button type="reset" class="btn btn-secondary w-100">Reset</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>