<div class="sidebar d-flex flex-column p-3">

    <h4 class="text-light text-center mb-4">My App</h4>

    <ul class="nav nav-pills flex-column mb-auto">

        <li class="nav-item">
            <a routerLink="/databinding" routerLinkActive="active" class="nav-link text-light">
                <i class="bi bi-speedometer2 me-2"></i> Data Binding
            </a>
        </li>

        <li>
            <a routerLink="/variables" routerLinkActive="active" class="nav-link text-light">
                <i class="bi bi-people me-2"></i> Variables
            </a>
        </li>

        <li>
            <a routerLink="/signal" routerLinkActive="active" class="nav-link text-light">
                <i class="bi bi-bar-chart-fill me-2"></i> Signal
            </a>
        </li>
        <li>
            <a routerLink="/batch" routerLinkActive="active" class="nav-link text-light">
                <i class="bi bi-gear-fill me-2"></i> Batch
            </a>
        </li>
        <li>
            <a routerLink="/dynamic-css-class" routerLinkActive="active" class="nav-link text-light">
                <i class="bi bi-gear-fill me-2"></i> dynamic-css-class
            </a>
        </li>
        <li>
            <a routerLink="/usermaster" routerLinkActive="active" class="nav-link text-light">
                <i class="bi bi-gear-fill me-2"></i> usermaster
            </a>
        </li>
        <li>
            <a routerLink="/reactiveuser" routerLinkActive="active" class="nav-link text-light">
                <i class="bi bi-gear-fill me-2"></i> reactiveuser
            </a>
        </li>
        <li>
            <a routerLink="/projectcompetation" routerLinkActive="active" class="nav-link text-light">
                <i class="bi bi-gear-fill me-2"></i> projectcompetation
            </a>
        </li>
        <li>
            <a routerLink="/signalformex" routerLinkActive="active" class="nav-link text-light">
                <i class="bi bi-gear-fill me-2"></i> Signal Form Example
            </a>
        </li>

        <hr class="text-secondary" />

        <li>
            <a routerLink="/settings" routerLinkActive="active" class="nav-link text-light">
                <i class="bi bi-gear-fill me-2"></i> Settings
            </a>
        </li>

    </ul>

</div>